.add-gym-icon {
  transform: scale(5);
}

.mat-card-content-plus {
  min-height: 153px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.example-full-width {
  width: 100%;
}

.b-dashed {
  border-style: dashed;
  border-color: #3f51b5;
}

button.save-button {
  width: 100%;
}
