<mat-card class="gym-card">
  <mat-card-title-group>
    <mat-card-title>
      {{gym.name | uppercase}}
    </mat-card-title>
    <button mat-icon-button matTooltip="Delete" (click)="deleteGym()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-title-group>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <mat-label>
          Sito
        </mat-label>
      </div>
      <div class="col">
        <mat-label>
          {{gym.website}}
        </mat-label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-label>
          Indirizzo
        </mat-label>
      </div>
      <div class="col">
        <mat-label>
          {{gym.address}}
        </mat-label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-label>
          Anno Costruzione
        </mat-label>
      </div>
      <div class="col">
        <mat-label>
          {{gym.constructionYear}}
        </mat-label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-label>
          Telefono
        </mat-label>
      </div>
      <div class="col">
        <mat-label>
          {{gym.phone}}
        </mat-label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-label>
         Descrizione
        </mat-label>
      </div>
      <div class="col">
        <mat-label>
          {{gym.description}}
        </mat-label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-label>
          Email
        </mat-label>
      </div>
      <div class="col">
        <mat-label>
          {{gym.email}}
        </mat-label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-label>
          Opinione
        </mat-label>
      </div>
      <div class="col">
        <mat-label>
          {{gym.opinione}}
        </mat-label>
      </div>
    </div>
  </mat-card-content>

</mat-card>
